
tbody tr:hover {
    background-color: green;
}
thead {
    background-color: cadetblue;
}
.custombody tr {
    background-color: red;
}
.custombodyreport tr {
    background-color: green;
}
.save{
    float:right;
    margin:10px;
}
.mybutton:hover{
    background-color:gold;
}



